.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  padding: 100px 80px 215px;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter", "Arial", Sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  list-style-type: none;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.recipes__iframe {
  width: 480px;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
