.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #fff url(../images/background_header.svg);
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter", "Arial", Sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", Sans-serif;
  font-style: normal;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", Sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  text-decoration: none;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  padding: 100px 80px 215px;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter", "Arial", Sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  list-style-type: none;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.recipes__iframe {
  width: 480px;
  gap: 40px;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form {
  max-width: 385px;
  background-color: #d9e7ff;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}
